CalculaApp<link rel="import" href="../../bower_components/polymer/polymer-element.html">
CalculaApp<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>

Access-Control-Allow-Origin:*

<dom-module id="calcula-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <style>
      :host {
        display: block;
      }
    </style>

    <div hidden="{{!calculaprestamo}}"  class="container" style="margin-top: 150px;"style="margin-left: 45%;">
      <h3>USUARIO:
      <div>
        <input type="text" value="{{loginemail}}" style="width: 550px; ; border: 0;" readonly/>
      </div>
      </h3>
      <center>
        <div class="" style="margin-top:100px">

          <p>Para mas detalles de prestamos personales inmediatos puedes visitar:
            <a href="https://www.bbva.mx/personas/productos/creditos/prestamos-personales/prestamo-personal-inmediato.html">Prestamo inmediato</a></p>
        </div>


      MONTO SOLICITADO (3,000-75,000): <input type="text" value="{{monto::input}}" />
      <br />
      <br />
      INGRESO MENSUAL: <input type="text" value="{{ingreso::input}}"  />
      <br />
      <br />
      PLAZO DE PAGO (6-72 MESES): <input type="text" value="{{plazo::input}}"/>
      <br />
      <br />
      APORTACION (QUINCENAL/MENSUAL): <input type="text" value="{{aportacion::input}}" />
      <br />
      <div >
      <br />
    <button on-Click="calcular" name="btnRegistro" class="btn btn-success" style="background: rgb(134,200,45);">Registrate</button>
    <button on-Click="limpiar"  class="btn btn-success" style="background: rgb(134,200,45);">Limpiar datos</button>
    </div>
      </center>

    </div>
    <div  hidden={{!logado}}>
      <center>
        <h2>Se te envió al correo la confirmación de tu solicitud </h2>
      </center>

    <!-- <token-app loginemail="{{email::input}}"></token-app> -->
  </div>
  <div hidden={{!volver}}>
      <pagina-inicio loginemail="{{loginemail}}"></pagina-inicio>
  </div>

    <iron-ajax
      id="doCalcula"
      url="http://localhost:3000/calcula"
      Content-Type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method = "POST"
      handle-as = "json"
      headers = "Access-Control-Allow-Headers: *"
      on-response = "manageAJAXResponse"
      on-error = "showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CalculaApp extends Polymer.Element {
      static get is() { return 'calcula-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          monto: {
            type: String
          },
          ingreso: {
            type: String
          },

          plazo: {
            type: String
          },
          monto: {
            type: String
          },
          aportacion: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          logadotoken: {
            type: Boolean,
            value: true
          },
          registro: {
            type: Boolean,
            value: false
          },
          loginemail: {
            type: String
          },
          calculaprestamo: {
            type: Boolean,
            value: true
          },
          volver: {
            type: Boolean,
            value: false
          }
        };
      }
      calcular(){
        var calculaData = {
          "email" :this.loginemail,
          "monto" : this.monto,
          "plazo" : this.plazo,
          "aportacion": this.aportacion,
          "ingreso" : this.ingreso
        };
        console.log(calculaData);
        this.$.doCalcula.body = JSON.stringify(calculaData);
        this.$.doCalcula.generateRequest();
        console.log("Petición enviada");
        console.log(JSON.stringify(calculaData));
        this.loginemail="";
        this.monto="";
        this.plazo="";
        this.aportacion="";
        this.ingreso="";
       }
       limpiar(){
         this.monto="";
         this.plazo="";
         this.aportacion="";
         this.ingreso="";
       }
       registrar(){
         this.logadotoken = false;
         this.logado = false;
         this.registro = true;
       }
       manageAJAXResponse(){
         console.log("Respuesta recibida del servicio api rest apimx20201");
        //  console.log(data.detail.response);
         this.logado = true;
         this.logadotoken = false;
       }
       showError(){
         console.log("Hubo un error en iron-ajax");
         this.logado = false;
         alert("Datos ingresados incorectos, por favor valide");
         console.log(error);

       }
    }

//     var slider = document.getElementById("myRange");
//     var output = document.getElementById("demo");
//     output.innerHTML = slider.value;
//
//     slider.oninput = function() {
//     output.innerHTML = this.value;
//     }
//
//     var slider2 = document.getElementById("rgPlazoPago");
//     var output2 = document.getElementById("snPlazoPago");
//     output.innerHTML = slider.value;
//
//     slider2.oninput = function() {
//     output2.innerHTML = this.value;
// }


    window.customElements.define(CalculaApp.is, CalculaApp);

  </script>


</dom-module>
