TokenApp<link rel="import" href="../../bower_components/polymer/polymer-element.html">
TokenApp<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>

Access-Control-Allow-Origin:*

<dom-module id="token-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <style>
      :host {
        display: block;
      }
    </style>
    <!-- <header-logo hidden={{!logadotoken}}></header-logo> -->
    <!-- <center>
      <a href="https://www.bbva.mx/personas/productos/creditos/prestamos-personales/prestamo-personal-inmediato.html">
          <img src="src/imagenes/logo_bbva_blanco.svg" style="height: 40px; position:absolute;
          width: auto;" alt="BBVA México" title="BBVA México">
      </a>
    </center> -->

    <div hidden={{!logadotoken}} class="container" style="margin-top: 150px;"style="margin-left: 45%;">
      <div id="divToken" >
        <center>
        <div >
          <h1>Ingreso a la app</h1>
          </div>
          <br />
          <div>
            <input type="text" value="{{loginemail}}" style="width: 500px; border: 0; text-align: center;"  readonly/>
          </div>
          <div >
          Token: <input type="text" value="{{valorToken::input}}" />
          </div>
          <br />
          <div >
          <button on-Click="token" name="button" class="btn btn-success" style="background: rgb(134,200,45);">Confirmar</button>
          </div>
        </center>
      </div>
    </div>
    <div  hidden={{!logado}}>
    <pagina-inicio loginemail="{{loginemail}}"></pagina-inicio>
  </div>

    <iron-ajax
      id="doToken"
      url="http://localhost:3000/token-prueba"
      Content-Type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method = "POST"
      handle-as = "json"
      headers = "Access-Control-Allow-Headers: *"
      on-response = "manageAJAXResponse"
      on-error = "showError">

  </template>

  <script>
// console.log("loginemail: " + txtloginemail.value);
    /**
     * @customElement
     * @polymer
     */
    class TokenApp extends Polymer.Element {
      static get is() { return 'token-app'; }
      static get properties() {
        return {
          token: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          logadotoken: {
            type: Boolean,
            value: true
          },
          loginemail: {
            type: String
          }

        };
      }
      // console.log("email de token: " + loginemail );
      // console.log(this.loginemail);
      token(){
        var tokenData = {
          "email": this.loginemail,
          "TOKEN" : this.valorToken

        };
        console.log(tokenData);
        this.$.doToken.body = JSON.stringify(tokenData);
        this.$.doToken.generateRequest();
        console.log("Petición enviada");
        console.log(JSON.stringify(tokenData));
        this.valorToken="";

       }
       manageAJAXResponse(){
         console.log("Respuesta recibida del servicio api rest apimx20201");
        //  console.log(data.detail.response);
         this.logado = true;
         console.log(this.logadotoken);
         this.logadotoken = false;
         console.log(this.logadotoken);
       }
       showError(){
         console.log("Hubo un error en iron-ajax");
         this.logado = false;
         alert("Datos ingresados incorectos, por favor valide");
         console.log(error);

       }
    }

    window.customElements.define(TokenApp.is, TokenApp);
  </script>
</dom-module>
