<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="header-logo">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>


    <header id="headerMenuPrincipal" style="margin-top: 0px";>
       <div class="ancho">
           <div class="logo">
            
           </div>
       </div>
   </header>
   .
   <style>

       * {
           margin: 0;
           padding: 0;
       }

       header {
           margin: 0;
           padding: 0;
           position: absolute;
           margin-top: 0px;
           width: 100%;
           background: #072146;
           height: 70px;
       }

       .ancho {
           width: 80%;
           height: 70px;
           margin: auto;
       }

       .logo {
           width: 100%;
           height: 70px;
           float: left;
           padding-top: 10px;
           box-sizing: border-box;
       }

       .logo p a {
           color: #fff;
           font-size: 40px;
           text-decoration: none;
           font-weight: bold;
       }

       nav {
           width: 70%;
           height: 70px;
           float: left;
           text-align: right;
           padding-top: 24px;
           box-sizing: border-box;

       }

       nav ul li {
           display: inline;
       }

       nav ul li a {

           font-family: "BentonSansBBVA-Medium", Helvetica, Arial, sans-serif;
           font-size: 14px;
           color: #fff;
           text-align: center;
           letter-spacing: 0;
           line-height: 16px;
           line-height: 48px;

           color: #fff;
           text-decoration: none;
           text-transform: uppercase;
           padding-left: 15px;
           font-weight: bold;
           letter-spacing: 1px;
       }

       nav ul li a:hover {
           color: #444;
       }
   </style>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class HeaderLogo extends Polymer.Element {
      static get is() { return 'header-logo'; }
    }
    window.customElements.define(HeaderLogo.is, HeaderLogo);
  </script>
</dom-module>
